*.iso
*.img
*.ima
*.bin
*.cue
*.nrg
*.dmg
*.wim
*.esd
*.swm
*.vhd
*.vhdx
*.7z
*.rar
*.zip
*.exe
*.msi
*.msix
*.cab
*.inf
*.cat
*.sys
*.drv
*.dll
.DS_Store
Thumbs.db
.vscode/


